@import "styles.css";

body {
  font-family: Garamond;
  overflow: auto;
}

div {
  margin: 0 auto;
  text-align: center;
  /* opacity: 75%; */
  /* transition: opacity 0.5s; */
}

/* div:hover {
  opacity: 100%;
} */

#hos_list {
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.hos {
  display: flex;
  width: 100%;
}

.data {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data p {
  margin: 0;
}

.data h4 {
  margin-top: 0;
}

.img {
  width: 33%;
}
