@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:600&display=swap');
body {
	margin: 0px;
  overflow: hidden;
  /* background-color: #3E6990; */
	background-color: ivory;
	font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#mapheader {
	text-align: center;
	color: black;
	position: absolute;
	left: 0;
	right: 0;
}

.sphere {
  /* fill: #3E6990 */
	fill: #b9d4c5;
}

.country {
  /* stroke: #2F3061; */
	stroke: black;
  stroke-opacity: 0.5;
  /* fill: #E2DBBE; */
	/* fill: #fefdf9; */
	opacity: 0.5;
	transition: 0.1s;
}

.country:hover{
  /* fill: #ECA400; */
	fill: #f2693d;
	opacity: 1;
}
