body {
	margin: 0px;
  overflow: hidden;
  background-color: #3E6990;
}

.sphere {
  fill: #3E6990
}

.country {
  stroke: #2F3061;
  stroke-opacity: 0.5;
  fill: #E2DBBE;
}
.country:hover{
  fill: #ECA400;
}
